body {
	background-color: #6A80FE;
	background-image: url('images/backgrounddim.png'), url('images/backgroundimage.jpg');
	background-size: cover;
	background-blend-mode: normal;
	margin: 5px;
	padding: 5px;
}

.container {
	border: 3px solid;
	border-color: #0070ED #183C5C;
	border-radius: 15px;
	padding-top: 2px;
}

header h1 {
	font-family: “Trebuchet MS”, “Lucida Grande”, “Lucida Sans Unicode”, “Lucida Sans”, Tahoma, sans-serif;
	font-size: 36px;
	font-weight: 900;
	color: white;
	text-shadow: 1px 2px #183C5C;
	padding: 5px;
}
nav img {
	margin: 10px;
}
