body {
	background-color: #000;
	background-image: url('images/backgrounddim.png'), url('images/background.jpg');
	background-size: cover;
	margin: 15px;
}

header {
	border: 3px solid;
	border-color: #0070ED #183C5C;
	border-radius: 15px;
}

header h1 {
	font-family: “Trebuchet MS”, “Lucida Grande”, “Lucida Sans Unicode”, “Lucida Sans”, Tahoma, sans-serif;
	font-size: 36px;
	font-weight: 900;
	color: white;
	text-shadow: 1px 2px #183C5C;
	margin-right: 45px;
}

header.container {
	display: flex;
	flex-wrap: wrap;
}

header img {
	padding: 5px;
	margin-left: 14px;
	margin-right: 14px;
}

nav > button.btn {
	font-weight: bold;
	float: right;
	margin-top: 10px;
	margin-left: 25px;
	cursor: pointer;
}

nav button:active {
	position: relative;
	top: 2px;
}

nav a:hover {
	cursor: pointer;
	position: relative;
	top: 2px;
}

nav a:active {
	position: relative;
	top: 4px;
}

a.github {
	background: rgba(36,41,46,0.5);
}

a.twitch {
	background: rgba(100,65,164,0.5);
}

a.twitter {
	background: rgba(29,161,242,0.5);
}

a.youtube {
	background: rgba(255,0,0,0.5);
}

a.steam {
	background: linear-gradient(rgba(13,24,42,0.5), rgba(24, 129, 176, 0.5));
}

a.discord {
	background: rgba(114,137,218,0.5);
}

a.srcom {
	background: rgba(236,193,79,0.5);
}

a.switch {
	background: -webkit-linear-gradient(left, rgba(0,186,225,0.5), rgba(0,186,225,0.5) 50%, rgba(254,92,81,0.5) 50%, rgba(254,92,81,0.5));
}

